.card__wrapper .card.dark {
  background: #393e46;
  transition: 0.3s ease-in;
}
.card__wrapper .card.dark h3 {
  color: #fffffe;
}
.card__wrapper .card.dark p,
.card__wrapper .card.dark span {
  color: #94a1b2;
}
.card__wrapper .card.dark .deleteIcon {
  filter: invert(100%);
}
.card__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.card {
  position: relative;
  background: #eff0f3;
  color: #0d0d0d;
  max-width: 350px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card h3 {
  font-weight: bold;
  font-size: 1.3rem;
}
.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .card__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .card__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
