a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
ul,
ol,
li {
  list-style: none;
}
textarea:focus,
input:focus {
  outline: none;
}
button,
input,
select,
textarea {
  font: inherit;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}
button {
  outline: none;
  border: 0;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  background: #ff8e3c;
  padding: 7px 15px;
  border-radius: 3px;
  color: #0d0d0d;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s ease-in;
}
.btn:hover {
  background: #e98137;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
